.carousel{
    margin: 5px;
}

.carousel-item img{
    height: 600px;
    width: 100%; 
}

.carousel-caption h5{
    color: #EAE7B1;
    background-color: #3c62556e;
    font-size: 36px;
    transition: 0.8s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &:hover{
        transform: scale(1.1);
    }
}
.carousel-caption p{
    transition: 0.8s;
    margin-bottom: 200px;
    color: $background-principal;
    background-color: #eae7b193;
}

.politica{
    background-color: #A6BB8D;
    display: flex;
    justify-content: space-around;
    margin: 35px;
    border: 2px solid #EAE7B1;
    padding: 35px;
    h2{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 20px;
        color: #eae7b1b9;
    }
    p{
        padding: 30px;
        font-style: oblique;
        
    }
    div{
        border: 2px solid #EAE7B1;
    }
    
}

.organigrama{
    display: grid;
    margin: 20px;
    padding: 60px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: #eae7b1a1;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 10%;
}

.organi-titulo h2{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
    font-size: 50px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #eae7b1e1;
    text-decoration: underline;
}

.card-body{
    background-color: #a6bb8db6;
}

.col-md-4{
    @extend .card-body
}

.doctor{
    grid-column: 1/3;
    grid-row: 1/2;
}

.dr-lorem{
    grid-column: 3/ 5;
    grid-row: 1/2;
    margin-left: 40px;
    p{
        padding-top: 50px;
        font-style: oblique;
        font-size: 18px;
    }
}

.profesor .col-md-8 p{
    padding-top: 15px;
}

.nutricionista{
    grid-column: 5/3;
    grid-row: -4/3;
}

.dra-juli{
    grid-column: 1/3;
    grid-row: 3/4;
    margin-left: 40px;
    padding-right: 20px;
    padding-top: 50px;
    p{
        font-style: oblique;
        font-size: 18px;
    }
}

.profesor{
    grid-column: 1/3;
    grid-row: 5/6;
}

.professor{
    grid-column: 3/5;
    grid-row: 5/6;
    margin-left: 40px;
    padding-right: 20px;
    padding-top: 50px;
    .professor p{
        font-style: oblique;
        font-size: 18px;
    }
}

.card{
    transition: 0.5;
    &:hover{
        box-shadow: 0px 10px 10px 10px rgb(224, 243, 202);
        transform: scale(1);
    }
    img{
        height: 200px; 
    }
}

.testimonios{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    margin-top: 10px;
}

.btn{
    color: #3C6255;
}

.card-body a{
    background-color: #EAE7B1;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    &:hover{
        background-color: $background-principal; 
        color:#EAE7B1;
    }
}

.titulo-testimonios{
    text-align: center;
    color: #eae7b1af;
    margin-top: 120px;
    padding: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
}