main{
    background-color: rgba(248, 248, 223, 0.856);
}

.banner{
    background-image: url(../assets/banner-main.jpg);
    height: 400px;
    margin: 5px;
    h1{
        padding-left: 80px;
        padding-top: 73px;
        font-size: 50px;
        font-family:cursive;
        color: rgb(25, 25, 26);
        font-style: oblique;
        &:hover{
            text-decoration: underline;
            text-decoration-color: rgb(235, 229, 229);
        }
    }
    p{
        width: 50%;
        padding-top: 50px;
        padding-left: 50px;
        font-family: cursive;
        color: rgb(243, 243, 243);
        background-color: rgba(0, 0, 0, 0.336);
    }
}

.servicios{
    display: flex;
    justify-content: center;
    height: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: monospace;
        color: rgba(7, 7, 65, 0.575);
        transition: 0.5s;
        &:hover{
            box-shadow: 0px 0px 30px 20px rgba(241, 139, 139, 0.726);
            font-size: 50px;
        }
    }
}

.main-secundario{
    background-color: rgb(48, 69, 88);
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 400px;
    gap: 20px;
}

.planes{
    background-image: url(../assets/planes-uno.jpg);
    grid-column: 1/2;
    grid-row: 1/6;
    margin: 10px;
    border-radius: 5%;
    &:hover{
        transform: scale(1.1);
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.726);
    }
    h1{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
    }
    p{
        display: flex;
        justify-content: center;
        font-family: cursive;
        color: rgb(14, 13, 13);
        padding: 50px;
        &:hover{
            background-color: rgba(240, 255, 255, 0.247);
        
        }
    }
}

.comida{
    background-image: url(../assets/comida-saludable.jpg);
    grid-column: 2/3;
    grid-row: 1/6;
    margin: 10px;
    border-radius: 5%;
    &:hover{
        transform: scale(1.1);
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.726);
    }
    h1{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(44, 6, 42, 0.719);
    }
    p{
        display: flex;
        justify-content: center;
        font-family: cursive;
        color: rgb(14, 13, 13);
        padding: 50px;
        &:hover{
            background-color: rgba(240, 255, 255, 0.247);
        }
    }
}

.entrenamiento{
    background-image: url(../assets/fit.jpg);
    grid-column: 3/4;
    grid-row: 1/6;
    margin: 10px;
    border-radius: 5%;
    &:hover{
        transform: scale(1.1);
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.726);
    }
    h1{
        display: flex;
        justify-content: center;
        padding: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
    }
    p{
        display: flex;
        justify-content: center;
        font-family: cursive;
        color: rgb(14, 13, 13);
        padding: 20px;
        &:hover{
            background-color: rgba(240, 255, 255, 0.247);
        
        }
    }
}

.main-tercero{
    background-color: rgba(233, 247, 247, 0.808);
    display: flex;
    padding: 25px;
    margin-top: 70px;
}

.habitos{
    width: 30%;
    h1{
        font-size: 35px;
        font-style: oblique;
        color: darkolivegreen;
    }
    p{
        font-family: cursive;
        font-size: 15px;
        padding: 20px;
        background-color: rgba(240, 248, 255, 0.274);
    }
    h3{
        color: darkolivegreen; 
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 50px;
    }
}

.imagen-habitos{
    margin-left: 80px;
    padding-top: 50px;
    img{
        width: 600px;
        height: 400px;
        border-radius: 5%;
        border: 5px solid rgba(0, 0, 0, 0.212);
        border-style: double;
        transition: 0.5s;
        &:hover{
            transform: scale(1.2);
            border-style: double;
            border-color: black;
        }
    }
}

.banner-main{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: darkgoldenrod;
    height: 150px;
    &:hover{
        box-shadow: 0px 0px 10px 20px darkgoldenrod;
    }
}

.probando img:hover{
    transform: scale(1.3);
}

.probando{
    color: rgb(14, 13, 13);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-style: oblique;
}

.biografia{
    background-color: cornflowerblue;
    margin: 70px;
    display: flex;
    border: 5px solid rgba(34, 37, 13, 0.76);
    text-align: center;
    div h2{
        color: aliceblue;
        text-align: center;
        padding-top: 70px;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    div p{
        color: aliceblue;
        text-align: center;
        padding: 80px;
        font-family: cursive;
    
    }
    div img{
        padding-bottom: 20px;
        text-align: center;
    }
}