@media (max-width:600px){

    .testimonios{
        display: block;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }
    
    .testimonios .card{
        display: flex;
        justify-content: center;
        justify-self: center;
        text-align: center;
        margin-left: 150px;
        margin-right: 150px;
    }

    
    .card-body{
        h5{
            text-align: center;
        }
        a{
            font-size: 8px;
            margin-left: 70px;
        }
    }

        

    .boton-informate{
        width: unset;
        h6{
            font-size: 10px;
        }
    }

    



}