@media (max-width: 350px){

    .entrenamiento h1{
        padding-bottom: unset;
        margin-bottom: unset;
    }

    .entrenamiento p{
        padding-top: unset;
        margin-top: unset;
        font-size: 11px;
    }

    .testimonios .card{
        margin-left: 12px;
        margin-right: 12px;
    }
}