@media (max-width:1024px){

/* HEADER */



.navbar ul{
    display: flex;
    background-color: $background-principal;
    gap: 70px;
    justify-content: center;
    padding: 25px;
    list-style: none;
    width: 100%;
    height: 80px;
    border-top-left-radius: 75%;
    li a{
        text-decoration: none;
        font-size: 22px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #EAE7B1;
        justify-content: center;
        &:hover{
            background-color: #a6bb8d8c;
            border-radius: 10%;
        }
    }
}

.titulo{
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: $background-principal;
    display: flex;
    align-items: center;
    transition: 0.5s;
    background-image: linear-gradient(0deg,#3C6255,#EAE7B1,#3C6255,#A6BB8D,#EAE7B1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    &:hover{
        font-size: 60px;
    }
}

.subtitulo{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: #3C6255;
    margin-left: 50px;
    padding-top: 10px;
    display: flex;
    text-decoration: underline;
    align-items: center;
    background-image: linear-gradient(100deg,#3C6255,#61876E);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.redes{
    text-decoration: none;
    list-style: none;
    gap: 40px;
    justify-content: end;
    li a img{
        height: 40px;
        width: 40px;
        padding-top: 5px;
        &:hover{
            transform: scale(1.6);
        }
    }
}

/*MAIN INDEX*/



.servicios{
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 80px;
    h2{
        font-size: 40px;
    }
}

.main-secundario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: auto;
    gap: 20px;
}

section .card{
    width: auto;
}

.planes{
    background-image: url(../assets/planes-uno.jpg);
    grid-column: 1/2;
    grid-row: 1/6;
    margin: 10px;
    border-radius: 5%;
    &:hover{
        transform: scale(1.1);
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.726);
    }
    h2{
        padding-top: 40px;
        font-size: 30px;
       
    }
    p{
        font-size: 18px;
    }
}

.comida{
    background-image: url(../assets/comida-saludable.jpg);
    grid-column: 2/3;
    grid-row: 1/6;
    margin: 10px;
    border-radius: 5%;
    &:hover{
        transform: scale(1.1);
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.726);
    }
    h2{
        padding-top: 40px;
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
}

.entrenamiento{
    background-image: url(../assets/fit.jpg);
    grid-column: 3/4;
    grid-row: 1/6;
    margin: 10px;
    border-radius: 5%;
    &:hover{
        transform: scale(1.1);
        box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.726);
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }

}

.main-tercero{
    margin-top: 100px;
}

.habitos{
    width: 100%;
    h2{
        font-size: 38px;
        font-style: oblique;
        
    }
    p{
        font-family: cursive;
        font-size: 18px;
        padding: 20px;
        background-color: rgba(240, 248, 255, 0.274);
    }
    h3{
        
        font-size: 30px;
    }
}

.imagen-habitos{
    margin-left: 50px;
    padding-top: 50px;
    margin-top: unset;
    img{
        width: 400px;
        height: 500px;
        border-radius: 5%;
        border: 5px solid rgba(0, 0, 0, 0.212);
        border-style: double;
        transition: 0.5s;
        &:hover{
            transform: unset;
        }
    }
}

.biografia{
    margin: 80px;
    display: block;
    text-align: center;
    div img{
        height: 400px;
        width: 400px;
    }
}


/*FOOTER*/

footer{
    height: 400px;
}

.logo-footer section img{
    width: 100px;
    height: 100px;
    padding-top: 50px;
    padding-left: unset;
}

.contenedor-footer div{
    padding-left: 2px;
    padding-right: unset;
}

/* CONOCENOS MAIN */

.carousel-caption p{
    font-size: 24px;
}

.politica{
    display: flex;
    justify-content: space-around;
    margin: 35px;
    border: 2px solid rgb(12, 12, 12);
    padding: 35px;
    border-bottom-left-radius: 10%;
    div{
        border: 2px solid rgb(65, 63, 63);
        border-bottom-left-radius: 10%;
    }
}

.organi-titulo h2{
    padding-left: 100px;
    text-align: unset;
    font-size: 40px;
}

/* PLANES MAIN */

.banersillo h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 5, 5);
    text-align: center;
    padding-top: 80px;
    font-size: 26px;
}

.banersillo p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(16, 17, 17);
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 70px;
} 

.banersillo button{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.boton-informate button{
    width: 300px;
}

.titulo-plann h2{
    margin-top: 80px;
    padding: 30px;
    font-size: 30px;
}

.parrafo-plann p{
    padding-left: 100px;
    padding-right: 100px;
}

.contenedor-boton{
    margin-left: 100px;
    margin-right: 100px;
    p{  
        padding-left: 5px;
        font-size: 16px;
    }
    h4{
        text-align: center;
        font-size: 16px; 
    }
}

.opciones-planes{
    height: auto;
}



.boton-planes button{
    margin-bottom: 20px;
}

.beneficios h5{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size: 22px;
}

.beneficios ul{
    font-style: oblique;
    padding-right: 20px;

}

/* RECETAS MAIN */

.recetas-titulo h3{
    display: flex;
    width: 100%;
    padding-left: 100px;
}

.contenedor-cards{
        
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}



.destacados-dos{
    font-size: 28px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 10px 10px black;
    margin-right: 10px;
    padding-left: 10px;
    margin-top: 100px;
}

.contenedor-desayunos{
    margin: 150px;
}

form{
    width:300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    label{
        width:72px;
        font-weight:bold;
        display:inline-block;
    }
}

form input[type="text"],
        form input[type="email"]{
            width:180px;
            padding:3px 10px;
            border:1px solid #f6f6f6;
            border-radius:3px;
            background-color:#f6f6f6;
            margin:8px 0;
            display:inline-block;
        }
        
        form input[type="submit"]{
            width:100%;
            padding:8px 16px;
            margin-top:32px;
            
        } 
        
        form input[type="submit"]:hover{
            cursor:pointer;
        }

        textarea{
            width:100%;
            height:100px;
            border:1px solid #f6f6f6;
            border-radius:3px;
            background-color:#f6f6f6;			
            margin:8px 0;
            resize:none;
            display:block;
        }

.formulario{
    display: flex;
    justify-content: space-around;
    margin: 100px;
    h3{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 20px;
    }
    h5{
        padding-left: 40px;
        padding-top: 30px; 
        font-size: 26px;
        padding-right: 20px;
    }
    h6{
        padding-left: 40px;
        padding-top: 30px; 
        font-size: 20px;
        padding-right: 20px;
    }
}

/* CELIACOS MAIN */

.titulo-enfermedad h2{
    font-size: 34px;
}

.celiacos-{
    grid-column: 1/3;
    grid-row: 1/2;
    border: 1px solid #eae7b1a4;
    h3{
        font-size: 20px;
        padding: 20px;
    }
    p{
        font-size: 16px;
    }
}

.celiacos-grids{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 400px 700px 400px;
    margin: 50px;
}

.foto-celiacos{
    grid-column: 3/6;
    grid-row: 1/4;
    padding-left: 10px;
    padding-top: 100px;
    img{
        height: 1000px;
        width: 500px; 
    }
}

.sintomas{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid black;
    h3{
        font-size: 20px;
        padding: 20px;
    }
    p{
        font-size: 16px;
        padding: 20px;
    }
}

.tratamiento{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid black;
    h3{
        font-size: 20px;
        padding: 20px;
        margin-bottom: 32px;
    }
    p{
        font-size: 16px;
        padding: 20px;
    }
}

.alimentacion{
    grid-column: 1/3;
    grid-row: 3/4;
    border: 1px solid black;
    h3{
        font-size: 20px;
        padding: 20px;
    }
    p{
        font-size: 16px;
        padding: 20px;
    }
}

.celiacos-dieta{
    padding-bottom: 30px;
}

.contenedor-plan-celiacos{
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,600px);
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    border: 2px double rgb(162, 202, 124);
    border-radius: 5%;
}

.objetivo-celiacos{
    grid-template-columns: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-style: oblique;
    padding: 40px;
}

.info-celiacos{
    grid-template-columns: 1/2;
    grid-row: 2/3; 
    text-align: center;
    font-style: oblique;
    padding: 60px;
}

.plan-card-uno{
    grid-template-columns: 2/3;
    grid-row: 1/2; 
    text-align: center;
}

.plan-card-dos{
    grid-template-columns: 2/3;
    grid-row: 2/3;  
    text-align: center;
}

}